login-view {
    position: relative;
}

logged-view {
    position: relative;
}

router-outlet {
    max-width: 100%;
}

login-view {
    margin-top: 35%;
}

user-info {

        button {
            display: flex;
            justify-content: center;
            border-radius: $border-rad-button;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1.4rem;
            padding: 0.7rem;
            background-color: transparentize($lighter-orange,0.1);
            border: 2px solid $lighter-orange;
            text-decoration: none;
            min-width: 6rem;
            max-width: 10rem;
            margin: 1.4rem 0.7rem;
            color: $font-color-black;
        }
        #logout {
            background-color: transparentize($lighter-orange,0.6);
            border: 2px solid transparentize($lighter-orange,0.5) ;
            color: transparentize($font-color-black, 0.2);
        }
}

// Flyttade ur denna från user-info då den påverkar sidorutorna i appen
.side-bars {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparentize($lighter-orange,0.8);
    border: 2px solid transparentize($lighter-orange,0.6) ;
    color: transparentize($font-color-black, 0.2);
    max-width: 18rem;
    max-height: 30rem;
    padding: 1.6rem;
    border-radius: $border-rad-data;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    label {
        margin-bottom: $button-padding;
    }
}
input::file-selector-button {
    background-color: orange;
    color: #f8f8f8;
    font-size: 1.4rem;
    border-radius: $border-rad-button;
    border: none;
    max-width: 100%;
    max-height: 10rem;
    padding: $button-padding
}
input[type="file"] {
    font-size: 0;
}