.login {
    display: flex;
    flex-direction: column;
    width: 30rem;

    .input {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: $border-rad-button;
        border: 0.25rem $font-color-black solid;
    }

    .button {
        border-radius: $border-rad-button;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        background-color: $lighter-orange;
    }
}

textarea {
    font-size: 1rem !important; 
}
.create-project {
    display: flex;
    flex-direction: row;
    max-width: 50rem;
    gap: 3rem;

    > div {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 30rem;
        @include scrollbar();
    
    label {
        margin: 0 $button-padding;
    }
}
    .input {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: $border-rad-button;
        border: 0.25rem $font-color-black solid;
    }
    
    .input-desc {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: $border-rad-button;
        border: 0.25rem $font-color-black solid;
        min-height: 9rem;

    }

    .button {
        border-radius: $border-rad-button;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        background-color: $lighter-orange;
    }
}

.checkbox-members {
    display: flex;
    flex-direction: row !important;
    font-size: 1.6rem;
    margin-bottom: $button-padding;
}