.login {
    display: flex;
    flex-direction: column;
    width: 30rem;

    .input {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: $border-rad-button;
        border: 0.25rem $font-color-black solid;
    }

    .button {
        border-radius: $border-rad-button;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        background-color: $lighter-orange;
    }
}

textarea {
    font-size: 1rem !important; 
}

.create-project {
    display: flex;
    flex-direction: row;
    max-width: 60rem;
    gap: 3rem;

    > div {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 35rem;
        @include scrollbar();
    
    input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
        margin-bottom: $border-rad-data;
    }

    label {
        margin: 0 $button-padding;
    }
}
    .input {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: $border-rad-button;
        border: 0.25rem $font-color-black solid;
    }
    
    .input-desc {
        font-size: 1.6rem;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        border-radius: $border-rad-button;
        border: 0.25rem $font-color-black solid;
        min-height: 9rem;

    }

    .button {
        border-radius: $border-rad-button;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        background-color: $lighter-orange;
    }
}

.checkbox-members {
    display: flex;
    flex-direction: row !important;
    font-size: 1.6rem;
    margin-bottom: $button-padding;
}

.read-comment {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;

    .read-text {
        border-radius: $border-rad-button;
        padding: $border-rad-data;
        width: 40rem;
        min-height: 20rem;
        border: solid #333 2px;
        font-size: 1.2rem !important;
        @include scrollbar();
    }
    div textarea {
        border-radius: $border-rad-button;
        padding: $border-rad-data;
        width: 20rem;
        min-height: 14rem;
        border: solid $lighter-orange 2px;
        font-size: 1.2rem !important;
        @include scrollbar();
    }

    div {
        margin: 2.1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
            input[type="checkbox"] {
                width: 3rem;
                height: 3rem;
                margin-bottom: $border-rad-data;
            }
            

    }
    .col {
        max-width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 9rem;
        }
    }
}