
ul {
    // border: 0.2rem solid transparentize($orange, 0.8);
    // border-radius: 1.4rem;
    // padding: 0.7rem;
    // background-color: transparentize($orange, 0.85);

    .closed-list-tm {
        
        width: 92%;
        position: relative;
        background-color: rgba(255,188,20,.1);
        padding: 0.7rem;
        border: solid 1px #333;
        border-radius: 1rem;
        left: 4%;
        max-height:100%;
        margin-bottom: 1.5rem;
        min-height: 5rem;
    }

    .closed-list {
        
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 70rem;
        height: 3rem;
        margin-bottom: 1.4rem;
        // white-space: nowrap;
        font-size: 1.2rem;
        animation: slideUpAnimation $animation-duration ease-out;
    }
    
    .open-list {
        width: auto;
        max-width: 70rem;
        height: auto;
        max-height: 18rem;
        margin-bottom: 1.4rem;
        font-size: 1.2rem;
        overflow-y: scroll;
        animation: slideDownAnimation $animation-duration ease-out;
        @include scrollbar();
    }
    li {
        height: 3rem;
        max-width: 100%;
        list-style-type: none;
        padding: 0.7rem;
        overflow: hidden;
        color: $font-color-black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .not-sent {
        border: $orange solid 2px;
    }
    .sent {
        border: $done-green solid 2px;
    }
    .late {
        border: red solid 4px !important;
    }
    
    .unread {
        border-left: $red solid 4px;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 0.4rem;
    }
    .read {
        border-left: $done-green solid 4px;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 0.4rem;
    }
    
    li:hover {
        cursor: pointer;
    }
}

.li-button {
    background-color: lighten($lighter-orange, 5%);
    // border: 2px solid $orange ;
    padding: $button-padding / 2;
    font-size: 1.2rem;
    color: $font-color-black;
    min-height: 2rem;
    max-width: 5rem;
    border-radius: 0.4rem;
}

.team-view {
    height: 8rem !important;
    max-width: 100%;
    list-style-type: none;
    padding: 0.7rem;
    overflow: hidden;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

@keyframes slideDownAnimation {
    0% {
        max-height: 3rem;
    }
    100% {
        max-height: 18rem;
    }
}

    @keyframes slideUpAnimation {
        0% {
            max-height: 18rem;
        }
        100% {
            max-height: 3rem;
        }
    }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// ul {
//     // border: 0.2rem solid transparentize($orange, 0.8);
//     // border-radius: 1.4rem;
//     // padding: 0.7rem;
//     // background-color: transparentize($orange, 0.85);

//     .closed-list-tm {
        
//         width: 92%;
//         position: relative;
//         background-color: rgba(255,188,20,.1);
//         padding: 0.7rem;
//         border: solid 1px #333;
//         border-radius: 1rem;
//         left: 4%;
//         max-height:100%;
//         margin-bottom: 1.5rem;
//         min-height: 5rem;
//     }

//     .closed-list {
        
//         text-overflow: ellipsis;
//         overflow: hidden;
//         max-width: 70rem;
//         height: 3rem;
//         margin-bottom: 1.4rem;
//         white-space: nowrap;
//         font-size: 1.2rem;
//         animation: slideUpAnimation $animation-duration ease-out;
//     }
    
//     .open-list {
//         width: auto;
//         max-width: 70rem;
//         height: auto;
//         max-height: 18rem;
//         margin-bottom: 1.4rem;
//         font-size: 1.2rem;
//         overflow-y: scroll;
//         animation: slideDownAnimation $animation-duration ease-out;
//         @include scrollbar();
//     }
//     li {
//         height: 3rem;
//         max-width: 100%;
//         list-style-type: none;
//         padding: 0.7rem;
//         overflow: hidden;
//         color: $font-color-black;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: space-between;
//     }

//     .not-sent {
//         border: $orange solid 2px;
//     }
//     .sent {
//         border: $done-green solid 2px;
//     }
//     .late {
//         border: red solid 4px !important;
//     }
    
//     .unread {
//         border-left: $red solid 4px;
//         border-top-left-radius: 1rem;
//         border-bottom-left-radius: 0.4rem;
//     }
//     .read {
//         border-left: $done-green solid 4px;
//         border-top-left-radius: 1rem;
//         border-bottom-left-radius: 0.4rem;
//     }
    
//     li:hover {
//         cursor: pointer;
//     }
// }

// .li-button {
//     background-color: $lighter-orange;
//     // border: 2px solid $orange ;
//     font-size: 1.2rem;
//     color: transparentize($font-color-black, 0.1);
//     min-height: 2rem;
//     max-width: 4rem;
//     border-radius: 0.4rem;
//     padding: 0 0.2rem;
// }



// @keyframes slideDownAnimation {
//     0% {
//         max-height: 3rem;
//     }
//     100% {
//         max-height: 18rem;
//     }
// }

//     @keyframes slideUpAnimation {
//         0% {
//             max-height: 18rem;
//         }
//         100% {
//             max-height: 3rem;
//         }
//     }

// @keyframes fadeInAnimation {
//     0% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }