#top-nav {
    display: flex;
    flex-direction: row;
    margin: 1.4rem;
    a {
        display: flex;
        justify-content: center;
        border-radius: $border-rad-button;
        font-weight: bold;
        margin-bottom: 1.4rem;
        padding: 0.7rem;
        background-color: transparentize($lighter-orange,0.1);
        border: 2px solid $lighter-orange;
        text-decoration: none;
        min-width: 6rem;
        max-width: 8rem;
        margin: 1.4rem 0.7rem;
        color: $font-color-black;
    }
    #nav-button-0 {
        background-color: transparentize($lighter-orange,0.6);
        border: 2px solid transparentize($lighter-orange,0.5) ;
        color: transparentize($font-color-black, 0.2);
    }
}

.hidden {
    display: none;
}
.nav-button {
}