
    $orange: #ff8c21;
    $lighter-orange: #FFBC14;
    $red: #FF4114;
    $font-color-black: #333;
    // #0534B3
    // #1453FF
    $create-blue: #4A08FF;
    $create-blue: #1453FF;
    $animation-duration: 0.4s;

    $border-rad-data: 1.4rem;
    $border-rad-button: 0.4rem;
    $button-padding: 0.7rem;

    $animation-duration: 0.5s;

    @mixin scrollbar(){
        &::-webkit-scrollbar {
            width: 14px;
            height: 18px;
        }
        &::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(165, 26, 26, 0);
            background-clip: padding-box;
            border-radius: 7px;
            background-color: rgba(0, 0, 0, 0.15);
            box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }