
    $orange: #ff8c21;
    $lighter-orange: #FFBC14;
    $red: #FF4114;
    $font-color-black: #333;

    $animation-duration: 0.4s;

    $border-rad-data: 1.4rem;
    $border-rad-button: 0.4rem;

    $animation-duration: 0.5s;
