
    $orange: #ff8c21;
    $lighter-orange: #FFBC14;
    $red: #FF4114;
    $font-color-black: #333;
    // #0534B3
    // #1453FF
    $create-blue: #4A08FF;
    $create-blue: #0534B3;
    $animation-duration: 0.4s;

    $border-rad-data: 1.4rem;
    $border-rad-button: 0.4rem;
    $button-padding: 0.7rem;

    $animation-duration: 0.5s;
